@tailwind base;
@tailwind components;
@tailwind utilities;

.prose h1 {
  @apply font-extralight;
}
.prose h2 {
  @apply font-extralight;
  @apply text-3xl;
}
.prose h3 {
  @apply font-extralight;
  @apply text-xl;
}
.prose h4 {
  @apply font-normal;
  @apply text-base;
}
.prose h5 {
  @apply font-extralight;
}
.prose h6 {
  @apply font-extralight;
}
.prose p {
  @apply font-extralight;
  @apply text-base;
}
.prose ol,
.prose ul {
  @apply text-base;
  @apply font-extralight;
  @apply list-outside;
  @apply ml-24;
  @apply space-y-8;
}
.prose ul {
  @apply list-disc;
}
.prose ol {
  @apply list-decimal;
}
.prose li {
  @apply font-extralight;
}

.text-clip {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-misc > div:nth-child(2n) {
  @apply max-w-[70%];
}

.grid-misc > div:nth-child(2n) {
  @apply md:max-w-full;
}
.grid-misc > div:nth-child(4n),
.grid-misc > div:nth-child(4n-3) {
  @apply md:max-w-[70%];
}

.case-study-grid-images {
  @apply grid;
  @apply grid-cols-3;
  @apply grid-rows-2;
  @apply gap-8;
  @apply md:gap-16;
  @apply mt-8;
  @apply md:mt-16;
}

.case-study-grid-images > div {
  overflow: hidden;
}

.case-study-grid-images img {
  @apply w-full;
  @apply h-full;
  @apply object-cover;
}

.lazy-load {
  transition: all 0.5s ease;
  @apply h-full w-full bg-white object-cover;
}
.loading {
  position: relative;
}
.loading img,
.loading video {
  opacity: 0;
}

.loading:after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  @apply border-2;
  @apply border-gray-600;
  @apply border-t-aqua;
  animation: loading 0.5s linear infinite;
}
@keyframes loading {
  from {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  to {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.will-change {
  will-change: transform;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.webkit-corner-fix {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.perspective {
  perspective: 2000px;
}
