---
// Component Imports
import Home from '../components/Home'
import Script from '../components/Script.astro'
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Patrick Hill Design';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="z7RJtBYpxYYhvxLkTEfPK0u0MoOypFD61gVyoMBVrRQ" />
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href="/style/global.css">

    <meta property="og:title" content="Hello Hill">
    <meta property="og:image" content="https://hellohill.com/assets/images/hellohill-preview.png">
    <meta property="og:image:alt" content="Screenshot of HelloHill.com">
    <meta property="og:description" content="UI design and front-end dev by Patrick Hill">
    <meta property="og:url" content="https://hellohill.com">
    <meta name="twitter:card" content="summary_large_image">

</head>
<body class="bg-gray-800">
  <Home />    

  <Script />
</body>
</html>
