---
const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="z7RJtBYpxYYhvxLkTEfPK0u0MoOypFD61gVyoMBVrRQ"
    />
    <title>{content.title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />
  </head>
  <body class="bg-gray-800">
    <slot />

    <script
      type="text/javascript"
      src={Astro.resolve("../../scripts/scripts.js")}></script>
  </body>
</html>
